body {
  height: 3000px;
}
.side-bar {
  position: fixed;
  width: 74px;

  left: 0;
  bottom: 0;
  top: 100px;
  background-color: rgb(255, 246, 246);
}
.side-bar-link {
  height: 72px;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.side-bar-link img {
  height: 25px;
}
.side-bar-link div {
  font-size: 10px;
}
.side-bar-link :hover {
  background-color: azure;
}
